

/* Reference for Bootstrap CSS override: https://stackoverflow.com/questions/46453057/why-is-bootstraps-css-overwriting-my-css*/
body{
    background: lightblue;
    font-family: 'Old Standard TT', serif !important;
    color: navy !important;
}


table{
    color: darkblue !important;
    background-color: lightgoldenrodyellow;
}

a{
    color: lightcoral;
}

/* Declaration by Class */

.navbar-nav{
    background-color: powderblue;
}

.profile{
    border: 2px solid black;
    border-radius: 8px;
}

/* Styling images reference: https://www.digitalocean.com/community/tutorials/how-to-style-images-with-css */

/* Declaration by ID */
#welcomeHeader{
    font-style: italic !important;
}

#doctor{
    height: 25%;
    width: 15%;
    border-radius: 5px;
    border: 5px dotted black;
}

/* reference changing link color: https://htmlcolorcodes.com/tutorials/css-link-color/ */

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

/* https://github.com/tristen/tablesort/blob/gh-pages/tablesort.css */